</div>

<script src="/ckeditor/ckeditor.js"></script>
<script src="/admin/js/imagePicker.js"></script>
<script src="/admin/js/submitForm.js"></script>
<script src="/admin/js/delete.js"></script>
<script src="/admin/vendors/jquery/dist/jquery.min.js"></script>
<script src="/admin/vendors/popper.js/dist/umd/popper.min.js"></script>
<script src="/admin/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/admin/assets/js/main.js"></script>

<!-- SWEET ALsERT 2 -->
<script src="/admin/js/sweetalert2.all.min.js"></script>
<!-- pagination -->
<script src="/admin/js/pagination.js"></script>

<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

</body>

</html>