<!DOCTYPE html>
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>CMS Admin - Quản trị</title>
  <meta name="description" content="Sufee Admin - HTML5 Admin Template" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="apple-touch-icon" href="apple-icon.png" />
  <link rel="shortcut icon" href="/favicon_logo.png" type="image/x-icon">
  <link rel="icon" href="/favicon_logo.png">
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet" />

  <link rel="stylesheet" href="/admin/vendors/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/admin/vendors/font-awesome/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/admin/vendors/themify-icons/css/themify-icons.css" />
  <link rel="stylesheet" href="/admin/vendors/flag-icon-css/css/flag-icon.min.css" />
  <link rel="stylesheet" href="/admin/vendors/selectFX/css/cs-skin-elastic.css" />

  <link rel="stylesheet" href="/admin/assets/css/style.css" />

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800" rel="stylesheet" type="text/css" />

  <!-- SWEET ALERT -->
  <link rel="stylesheet" href="/admin/css/sweetalert2.min.css" />
  <!-- style -->
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="/admin/css/style.css" />
</head>

</html>