<!-- Start Header Top 
    ============================================= -->
<div class="top-bar-area inc-pad <%= inc == 'inc/index/home' ? 'transparent' : '' %> text-light">
  <div class="container-full">
    <div class="row align-center">
      <div class="col-lg-6 info">
        <ul>
          <li><i class="fas fa-map-marker-alt"></i> California, TX 70240</li>
          <li><i class="fas fa-envelope-open"></i> Info@gmail.com</li>
        </ul>
      </div>
      <div class="col-lg-6 text-right item-flex">
        <div class="info">
          <ul>
            <li><i class="fas fa-clock"></i> Office Hours: 8:00 AM – 7:45 PM</li>
          </ul>
        </div>
        <div class="social">
          <ul>
            <li>
              <a href="#">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Header Top -->

<!-- Header 
    ============================================= -->
<header id="home">
  <!-- Start Navigation -->
  <nav class="navbar navbar-default attr-bg navbar-fixed white <%= inc == 'inc/index/home' ? 'no-background' : '' %> bootsnav inc-topbar">
    <div class="container-full">
      <div class="nav-box">
        <!-- Start Atribute Navigation -->
        <div class="attr-nav inc-border">
          <ul>
            <li class="button"><a href="#"><%= inc %></a></li>
          </ul>
        </div>
        <!-- End Atribute Navigation -->

        <!-- Start Header Navigation -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
            <i class="fa fa-bars"></i>
          </button>
          <a class="navbar-brand" href="index.html">
            <img src="/assets/img/logo-light.png" class="logo logo-display" alt="Logo" />
            <img src="/assets/img/logo.png" class="logo logo-scrolled" alt="Logo" />
          </a>
        </div>
        <!-- End Header Navigation -->

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-menu">
          <ul class="nav navbar-nav navbar-center" data-in="fadeInDown" data-out="fadeOutUp">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle active" data-toggle="dropdown">Home</a>
              <ul class="dropdown-menu">
                <li><a href="index.html">Home Version One</a></li>
                <li><a href="index-2.html">Home Version Two</a></li>
                <li><a href="index-3.html">Home Version Three</a></li>
                <li><a href="index-4.html">Home Version Four</a></li>
                <li><a href="index-5.html">Home Version Five</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Home Onepage</a>
                  <ul class="dropdown-menu">
                    <li><a href="index-op.html">Version One</a></li>
                    <li><a href="index-op-2.html">Version Two</a></li>
                    <li><a href="index-op-3.html">Version Three</a></li>
                    <li><a href="index-op-4.html">Version Four</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Company</a>
              <ul class="dropdown-menu">
                <li><a href="about-us.html">About Company</a></li>
                <li><a href="why-choose-us.html">Why Choose us</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Team Members</a>
                  <ul class="dropdown-menu">
                    <li><a href="team.html">Version One</a></li>
                    <li><a href="team-2.html">Version Two</a></li>
                    <li><a href="team-single.html">Team Single</a></li>
                  </ul>
                </li>
                <li><a href="contact.html">Get in Touch</a></li>
                <li><a href="faq.html">Help & Faqs</a></li>
                <li><a href="404.html">Error Page</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Services</a>
              <ul class="dropdown-menu">
                <li><a href="services.html">Services Version One</a></li>
                <li><a href="services-2.html">Services Version Two</a></li>
                <li><a href="services-3.html">Services Version Three</a></li>
                <li><a href="services-single.html">Services Single</a></li>
              </ul>
            </li>
            <li><a href="case-studies.html">Case Studies</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog</a>
              <ul class="dropdown-menu">
                <li><a href="blog-standard.html">Blog Standard</a></li>
                <li><a href="blog-with-sidebar.html">Blog With Sidebar</a></li>
                <li><a href="blog-2-colum.html">Blog Grid Two Colum</a></li>
                <li><a href="blog-3-colum.html">Blog Grid Three Colum</a></li>
                <li><a href="blog-single.html">Blog Single</a></li>
                <li><a href="blog-single-with-sidebar.html">Blog Single With Sidebar</a></li>
              </ul>
            </li>
            <li>
              <a href="contact.html">Về chúng tôi</a>
            </li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
    </div>
  </nav>
  <!-- End Navigation -->
</header>
<!-- End Header -->