<div class="error-page-area default-padding" style="background: #fff">
  <div class="image-wrapper">
    <img src="/404-page.jpeg" alt="Thumb" style="width: 100%; height: 90vh; overflow:hidden;  object-fit:contain" />
    <div>
    </div>

    <!-- End 404 -->